body {
  min-width: 700px;
  background-image: url('Portal.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.google-play-store {
  position: fixed;
  bottom: 60px;
  right: 16px;
}

.appstore-store {
  position: fixed;
  bottom: 2px;
  right: 16px;
}

#lp-cl-cloud-logo {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 58px;
  margin-right: 12px;
  color: #fff;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

#lp-cl-cloud-logo circle.st1 {
  color: #0054ff;
}

input[type="text"],
input[type="password"],
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

header {
  background-color: #061342;
  color: #fff;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type="text"],
input[type="password"] {
  width: 400px;
  height: 29px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}
 .wrongPassword{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red
 }

.button {
  border: none;
  color: white;
  padding: 6px 191.9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 14px auto;
  cursor: pointer;
  border-radius: 5px;
  background-color: dodgerblue;
  font-weight: 600;
}

.button:hover {
  background-color: rgb(21, 105, 189);
}
a.cl-footer-text {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 73px;
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
